<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="viewResolver" class="org.febit.wit.support.springmvc3.WitViewResolver">
        <property name="contentType" value="text/html; charset=UTF-8" />
    </bean>

    <bean id="booksController" class="org.febit.wit.demo.spingmvc.BooksController">
    </bean>
</beans>