<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <filter>
    <filter-name>witFilter</filter-name>
    <filter-class>org.febit.wit.servlet.WitFilter</filter-class>
    <!--
      <init-param>
        <param-name>configPath</param-name>
        <param-value>/WEB-INF/webpage.wim</param-value>
      </init-param>
    -->
  </filter>
  <filter-mapping>
    <filter-name>witFilter</filter-name>
    <url-pattern>*.wit</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>BooksServlet</servlet-name>
    <servlet-class>org.febit.wit.demo.servlet.BooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BooksServlet</servlet-name>
    <url-pattern>/books.wit</url-pattern>
  </servlet-mapping>
</web-app>
