<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>webitScriptFilter</filter-name>
        <filter-class>webit.script.support.servlet.WebitScriptFilter</filter-class>
        <!--
            <init-param>
                <param-name>configPath</param-name>
                <param-value>/WEB-INF/webit-script-servlet.props</param-value>
            </init-param>
        -->
    </filter>
    <filter-mapping>
        <filter-name>webitScriptFilter</filter-name>
        <url-pattern>*.wtl</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>BooksServlet</servlet-name>
        <servlet-class>webit.script.demo.servlet.BooksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BooksServlet</servlet-name>
        <url-pattern>/books.wtl</url-pattern>
    </servlet-mapping>
</web-app>
